<div class="container">
  <!-- Opening -->
  <img id="backgroundImage" src="../assets/medieval.jpg">
  <img id="logo" src="../assets/shield.png">
  <h1 id="title">Become a Dev Knight today!</h1>
  <button id="applybutton">See more!</button>

  <!-- Category -->
  <div class="categoriesInfo">
    <h1 id="category">Categories</h1>
    <span class="subInfo">Discover what kind of Dev you want to become!</span>
  </div>
  <br/>

  <!-- Images -->
  <div class="options flex">
    <img id="image1" src="../assets/option1.jpg">
    <h1 id="typetitles1">Front-End Rangers</h1>
    <span id="subtitles1">Quick and Agile Dev, always looking for the most beautiful solution</span>
    <img id="image2" src="../assets/option2.jpg">
    <h1 id="typetitles2">Back-End Fighters</h1>
    <span id="subtitles2">They train everyday to Fight against Bugs to protect their lands</span>
  </div>
  <div class="options flex">
    <img id="image3" src="../assets/option3.jpg">
    <h1 id="typetitles3">Devops Climbers</h1>
    <span id="subtitles3">Living in the High Mountains they look everything happening from afar, protecting all the Realms</span>
  </div>
  <div class="options flex">
    <img id="image4" src="../assets/option4.jpg">
    <h1 id="typetitles4">Tester Sirens</h1>
    <span id="subtitles4">Protect the Lands against mistakes that others Devs makes</span>
    <img id="image5" src="../assets/option5.jpg">
    <h1 id="typetitles5">Infrastructure Nomads</h1>
    <span id="subtitles5">They maintain all the other Devs alive against monster humans never crosspath in their lives </span>
  </div>
  
  <div>
    <h1 id="choose">Choose your plan and start coding!</h1>
    <div class="finalization flex">
      <div id="choice1">$10 <br/> Choose one Class.</div>
      <div id="choice2">$20 <br/> Choose Two Classes.</div> 
      <div id="choice3">$30 <br/> Choose Three Classes.</div> 
      <div id="choice4">$40 <br/> Choose Four Classes.</div> 
      <div id="choice5">$50 <br/> Choose All Classes.</div>   
    </div>
  </div>
</div>

